  /*
   server-side-angular-way.component.css
*/
.no-data-available {
    text-align: center;
  }
  
  /*
     src/styles.css (i.e. your global style)
  */
  .dataTables_empty {
    display: none;
  }

  ::ng-deep .odd{ display: none }

  th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
  }
   
  th:first-child {
    border-left: 1px solid #dddddd;
  }
